@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
  text-align: center;
  background-color: #f9f9f9;
  font-family: 'Aleo', serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
}

.icon {
    color: #282120;
}

.flowers {
  transform: rotate(28deg);
  width: 18%;
  max-width: 280px;
}

.pageName {
    position: absolute;
    background-color: #282120;
    color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 100px;
    bottom: 40px; right: 40px;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s;
}

.pageName::before {
    position: absolute;
    width: 15px; height: 15px;
    background-color: #282120;
    bottom: 20px; right: 20%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
      
.SideNavbarIcon:hover + .pageName {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgb(40,33,32, 0.2);
}

.socialName {
    position: absolute;
    background-color: #282120;
    color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 100px;
    bottom: 40px; left: 40px;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s;
}

.socialName::before {
    position: absolute;
    width: 15px; height: 15px;
    background-color: #282120;
    bottom: 20px; left: 20%;
    transform: translate(+50%, +50%) rotate(45deg);
  }
      
.socialIcon:hover + .socialName {
    opacity: 1;
    transform: translateX(+50%);
    box-shadow: 0 10px 20px rgb(40,33,32, 0.2);
}